<footer class="bg-light text-center text-white">
    <!-- Grid container -->

    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #ffc107;">
        © 2020 Copyright:
        <a class="text-black" href="hasancahan.com">Hasan Cahan</a>
    </div>
    <!-- Copyright -->
</footer>