@model IEnumerable<Kategori>

<div class="list-group">

    @foreach (var i in Model)
	{
        <a href="#" class="list-group-item list-group-item-action">@i.KategoriTürü</a>
	}
    <a href="#" class="list-group-item list-group-item-action activated">content1</a>
    
</div>